body{
  font-family: 'Open Sans';
}

#clearspace-large{
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.navbar-theme{
  transition: all 300ms ease-in-out;
  background-color: #1E003D;
  border-bottom: 1px solid transparent;
}

.set-font-ms{
  font-family: 'Montserrat' !important;
}

.navbar{
  margin-bottom: 0;
}

.lnr,
.fa{
  padding-right: 8px !important;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 14px;
  color: #ffffff;
  margin-right: 12px;
}

.hero{
  background: url(../assets/hero-image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
}

.large-container{
  width: 80%;
  height: 100%;
  display: table;
  margin: 0 auto;
}

.large-display{
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.hero-brand{
  color: #ffffff;
  font-size: 3.2em;
  letter-spacing: 2px;
}

.hero-description{
  color: rgba(255,255,255,0.7);
}

.section-heading{
  color: #1E003D !important;
  margin-bottom: 20px;
}

.about-section-text{
  font-size: 16px;
  line-height: 2em;
  border-left: 10px solid #1E003D;
  padding: 20px 20px 20px 20px;
}

.connect-column{
  margin-top: 5px;
}

.box{
  height: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid #1E003D;
  border-top: 2px solid #1E003D;
  text-align: center;
}

.box p{
  padding: 0 10px;
  font-size: 12px;
  line-height: 24px;
}

.icon-lg{
  margin: 20px 0;
  font-size: 32px !important;
}

@media all and (max-width: 576px){
  .hero-brand{
    font-size: 2em;
    line-height: 1.6em;
  }
  .hero-description{
    font-size: 1.4em;
    line-height: 1.6em;
  }
  .about-section-text{
    font-size: 14px;
    text-align: justify;
  }
  .box p{
    padding: 0 14px;
    text-align: justify;
  }
}
