@font-face{
  font-family: 'Fira Sans Light';
  src: url('../fonts/FiraSans-Light.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'Fira Sans Hair';
  src: url('../fonts/FiraSans-Hair.otf') format('opentype');
  font-weight: lighter;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::selection{
  background-color: #b1d750;
  color: #ffffff;
}

::-webkit-selection{
  background-color: #b1d750;
  color: #ffffff;
}

::-ms-selection{
  background-color: #b1d750;
  color: #ffffff;
}

::-o-selection{
  background-color: #b1d750;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b1d750;
}

body{
  letter-spacing: 1px;
  background: url('../assets/background.svg');
  background-attachment: fixed;
  color: #807e7e;
  font-family: 'Open Sans';
}

#clearspace-large{
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.navbar-theme{
  transition: all 300ms ease-in-out;
  background-color: #151515;
  border-bottom: 1px solid transparent;
}

.set-font-ms{
  font-family: 'Fira Sans Light', serif !important;
}

.navbar{
  margin-bottom: 0;
}

.lnr,
.pr-sm{
  padding-right: 8px !important;
}

.ml-lg{
  margin-left: 20px !important;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 12px;
  color: #fff;
  margin-right: 12px;
  transition: color .2s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus{
  color: #b1d750 !important; 
}

.__img_nav{
  width: 50px;
  height: auto;
  margin-right:20px;
  border-radius: 100%;
}

.hero,
.hero-md{
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(../assets/hero_image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.hero{
  height: 650px;
}

.hero-md{
  height: 400px;
}


.wrap{
  padding: 8rem 6rem !important; 
}

.large-container{
  width: 80%;
  height: 100%;
  display: table;
  margin: 0 auto;
}

.large-display{
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.large-display h5 {
  color: white;
  font-weight: 100;
}

.theme-invert{
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.theme-invert:after{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  content: '';
  transform: skewX(-45deg);
  top: 0;
  right: 0;
  left: 50%;
  background-color: #b1d750;
}

.hero-brand,
.hero-brand-l{
  font-family: 'Fira Sans Hair' !important;
  font-weight: bold;
  margin-top: 50px;
  color: #ffffff;
  letter-spacing: 2px;
}

.hero-brand{
  font-size: 100px;
}

.hero-brand-l{
  font-size: 64px;
  letter-spacing: 0;
}

.hero-brand span,
.hero-brand-l span{
  font-family: 'Fira Sans Light';
}

.hero-description{
  font-family: 'Fira Sans Light';
  color: rgba(255,255,255,0.7);
}


.section-heading{
  color: #000 !important;
  font-size: 60px;
  margin-bottom: 20px;
}

.theme-invert .section-heading{
  color: #b1d750 !important;
}

.section-text{
  font-size: 18px;
  line-height: 1.6em;
  width: 70%;
}

.connect-column{
  margin-top: 5px;
}

.box{
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  color: #b1d750;
  text-align: center;
  box-shadow: 0 0 5px #000;
  transition: all .2s linear;
}

.box:hover{
  box-shadow: 0 0 10px #000;
  transform: scale(1.05);
}

.box:hover p{
  opacity: 1;
}

.box:hover .head-cont{
  display: none;
}

/* Override Borders */
.section__bordered{
  border: 2px solid rgba(52, 152, 219, 0.25) !important;
}

.box p{
  opacity: 0;
  height: 100%;
  color:#fff;
  background: #000;
  padding: 2rem 10px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.3rem;
  transition: all .5s ease;
}

.box .head-cont{
  transition: all .5s ease;
  position: absolute;
}

.box h5{
  color: #333333;
}

.box img{
  max-width: 100%;
}


/*Figures and Reset Hover Effects*/

figure {
	margin: 0;
	position: relative;
  overflow: hidden;
}

figure figcaption{
  z-index: 0;
	position: absolute;
  width: 100%;
  height: 100px;
	top: auto;
	left: 0;
  right: 0;
  bottom: 0;
	padding: 20px;
	background: #1E003D;
	color: #ed4e6e;
}

figure img{
  position: relative;
	z-index: 10;
	transition: transform 0.4s;
}

figure:hover img{
	transform: translateY(-90px);
}


figure figcaption h5{
  font-size: 18px;
  color: #fff !important;
}

figure figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #007BB6;
	color: #fff;
}

figure figcaption a:hover{
  background: #fff;
  color: #007BB6;
}

.member-list-out li{
  margin-right: 20px;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
}

.member-list{
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}

.member-list-out li span{
  float: left;
}

.member-list-out li a{
  float: right;
  transition: transform 200ms linear;
}

.member-list-out li a:hover{
  transform: scale(1.2);
}

.member-list-out li a i{
  padding: 10px;
  background: #007BB6;
  color: #fff;
}

.icon-lg{
  margin: 20px 0;
  font-size: 32px !important;
}

.footer{
  height: 500px;
  background-color: transparent;
}

.footer-md {
  height: 100%;
  background-color: transparent;
  margin: 20px 0;
}

.footer .container{
  margin: 0 auto;
}

.footer .main{
  height: 90%;
  margin: 0 auto;
  padding-top: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.information {
  margin-top: 32px;
}

.information,
.information a.mail{
  color: #000;
  font-size: 14px;
}

.information a.mail:active,
.information a.mail:hover,
.information a.mail:focus{
  color: #b1d750;
}

.information i{
  font-size: 20px;
  padding-right: 20px;
}

.information span{
  font-size: 14px;
  text-align: justify;
}

.col-wd-5{
  min-width: 20%;
  max-width: 20%;
  display: flex-wrap;
  text-align: center;
}
.spanner{
  width: 40px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  transition: all 200ms linear;
  border: 1px solid transparent;
}

.spanner:hover{
  color: #000;
  background-color: #b1d750;
  border: 1px solid #000;
}

.meta{
  margin-top: 18px;
  font-size: 11px;
  line-height: 2em;
  letter-spacing: 0;
}

.meta a{
  color: #000;
}

.social{
  margin-top: 18px;
}

.developer{
  color: #b1d750 !important;
}

.developer:hover{
  text-decoration: none !important;
}

.contact-main{
  margin-top: 40px;
  margin-bottom: 40px;
}

.com-btn,
.__override{
  margin-top: 10px;
  padding: 20px 40px;
  transition: all 200ms ease;
}

.__override{
  color: #000 !important;
}

.com-btn:hover{
  color: #ffffff;
  background-color: #000;
  text-decoration: none;
}

.__override:hover{
  color: #b1d750 !important;
  background-color: #000;
  text-decoration: none;
}

.contact-main{
  margin-top: 20px;
  border: 1px solid #000 !important;
  border-radius: 5px;
}

.contact-main i{
  padding-left: 20px;
}

@media all and (max-width: 992px){
  .hero-brand-l {
    font-weight: bold;
    font-size: 26px; 
  }
}

@media all and (max-width: 720px){
  .hero-brand{
    font-size: 2.8em;
  }
  .hero-description{
    font-size: 1.4em;
  }
  h2.hero-description{
    font-size: 1.6em;
  }
}

@media all and (max-width: 576px){
  .large-container{
    width: 95%;
  }
  .hero{
    height: 550px;
  }
  .hero-brand{
    font-size: 2em;
    margin-bottom: 20px;
  }
  .hero-description{
    font-size: 1rem;
    line-height: 1.3em;
  }
  .wrap{
    padding: 5.2rem 1rem !important;
  }
  .section-heading{
    font-size: 32px;
  }
  .section-text{
    width: 100%;
    font-size: 12px;
    text-align: left;
  }
  .box p{
    width: 100%;
    padding: 20px 14px;
    text-align: center;
  }
  .information,
  .information a,
  .information span{
    font-size: 12px;
  }
  .footer .main{
    height: 100%;
  }
  .meta{
    text-align: center;
  }
  .member-list{
    font-size: 12px;
  }
}


.container-xl {
  margin-top: 100px;
  margin-bottom: 50px;
}

.dark-text {
  background-color: #b1d750;
  color: #000;
}

.team {
  height: 100%;
  width: 100%;
}

.team a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team a img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #000;
  transition: all .2s linear;
}

.team a img:hover{
  filter: grayscale(0);
  box-shadow: 0px 0px 10px 0px #000;
}

.member-name {
  margin-top: 12px;
  font-size: 14px;
}

.team-position {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 20px;
}