html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1E003D;
}

body{
  letter-spacing: 1px;
  background-color: #f5f5f5;
  color: #807e7e;
  font-family: 'Titillium Web';
}

#clearspace-large{
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.navbar-theme{
  transition: all 300ms ease-in-out;
  background-color: #1E003D;
  border-bottom: 1px solid transparent;
}

.set-font-ms{
  font-family: 'Montserrat' !important;
}

.navbar{
  margin-bottom: 0;
}

.lnr,
.pr-sm{
  padding-right: 8px !important;
}

.ml-lg{
  margin-left: 20px !important;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 14px;
  color: #ffffff;
  margin-right: 12px;
}

.hero{
  background: url(../assets/hero-image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
}

.large-container{
  width: 80%;
  height: 100%;
  display: table;
  margin: 0 auto;
}

.large-display{
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.hero-brand{
  color: #ffffff;
  font-size: 3.2em;
  letter-spacing: 2px;
}

.hero-description{
  color: rgba(255,255,255,0.7);
}

.section-heading{
  color: #1E003D !important;
  margin-bottom: 20px;
}

.about-section-text{
  font-size: 18px;
  line-height: 2em;
  border-left: 10px solid #1E003D;
  padding: 20px 20px 20px 20px;
}

.connect-column{
  margin-top: 5px;
}

.box{
  height: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid #1E003D;
  border-top: 2px solid #1E003D;
  text-align: center;
}

/* Clear Borders */
.img-section{
  border-bottom: 2px solid transparent !important;
  border-top: 2px solid transparent !important;
}

.box p{
  padding: 0 10px;
  font-size: 12px;
  line-height: 24px;
}

.box h5{
  color: #333333;
}

.box img{
  max-width: 100%;
}

/*Figures and Reset Hover Effects*/

figure {
	margin: 0;
	position: relative;
  overflow: hidden;
}

figure figcaption{
  z-index: 0;
	position: absolute;
  width: 100%;
  height: 100px;
	top: auto;
	left: 0;
  right: 0;
  bottom: 0;
	padding: 20px;
	background: #1E003D;
	color: #ed4e6e;
}

figure img{
  position: relative;
	z-index: 10;
	transition: transform 0.4s;
}

figure:hover img{
	transform: translateY(-90px);
}


figure figcaption h5{
  font-size: 18px;
  color: #fff !important;
}

figure figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #007BB6;
	color: #fff;
}

figure figcaption a:hover{
  background: #fff;
  color: #007BB6;
}

.member-list-out li{
  margin:0 auto;
  width: 60%;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
}

.member-list{
  margin: 10px 0;
  font-size: 14px;
}

.member-list-out li span{
  float: left;
}

.member-list-out li a{
  float: right;
}

.member-list-out li a i{
  padding: 10px;
  background: #007BB6;
  color: #fff;
}

.icon-lg{
  margin: 20px 0;
  font-size: 32px !important;
}

.footer{
  height: 200px;
  background-color: #1E003D;
}

@media all and (max-width: 576px){
  .hero-brand{
    font-size: 2em;
    line-height: 1.6em;
  }
  .hero-description{
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .about-section-text{
    font-size: 14px;
    text-align: justify;
  }
  .box p{
    padding: 0 14px;
    text-align: justify;
  }
  .member-list-out li{
    width: 100%;
  }
}
